/* 100vsh - the padding top of the hero and the height of navbar */
/* .minHeight {
  min-height: calc(100svh - 10rem);
} */
.minHeight {
  min-height: calc(100vh - 11rem);
  min-height: calc(100svh - 11rem);
}
