/* Height based on 100vh and removing the height of navbar */
.minHeight {
  min-height: calc(100vh - 5rem);
  min-height: calc(100svh - 5rem);
}

/* @media screen and (min-width: 640px) {
  .minHeight {
    min-height: 100vh;
    min-height: 100svh;
  }
} */
